## Base de dados - import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
url = ("https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic3.xls")
df = pd.read_excel(url)

### Tratamento dos nomes das colunas

In [4]:
import janitor as jn
Xbad = pd.DataFrame(
    {
        "A": [1, None, 3],
        "  sales numbers ": [20.0, 30.0, None],
    }
)
jn.clean_names(Xbad)

     a  _sales_numbers_
0  1.0             20.0
1  NaN             30.0
2  3.0              NaN

In [7]:
def clean_col(name):
    return (
        name.strip().lower().replace(" ", "_")
    )
Xbad.rename(columns=clean_col)

     a  sales_numbers
0  1.0           20.0
1  NaN           30.0
2  3.0            NaN

### Checando valores não nulos(primeiros)

In [11]:
jn.coalesce(
    Xbad,
    "A", "  sales numbers ",
    target_column_name="val",
)

     A    sales numbers    val
0  1.0              20.0   1.0
1  NaN              30.0  30.0
2  3.0               NaN   3.0

In [13]:
#valorer de ubstituição para campo ausente
Xbad.fillna(10)

      A    sales numbers
0   1.0              20.0
1  10.0              30.0
2   3.0              10.0

In [14]:
jn.fill_empty(
    Xbad,
    columns=["A", "  sales numbers "],
    value=10,
)

      A    sales numbers
0   1.0              20.0
1  10.0              30.0
2   3.0              10.0

In [15]:
df.isna().any().any()

True